@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    line-height: 1.5;
    color: #222328;
}

.wrap {
    width: 1200px;
    margin: 0 auto;
    background: #eee;
}
.header {
    display: flex;
    justify-content: space-between;
    height: 100px;
    background: lightpink;
}
.logo {
    display: flex;
    align-items: center;
}
.logo a {
    display: block;
    width: 200px;
    height: 40px;
}

.gnb .depth1 {
    display: flex;
}
.gnb .depth1 a {
    display: block;
    height: 100px;
    padding: 0 50px;
    line-height: 100px;
    /* background: lawngreen;
    border: 1px solid #000; */
    text-align: center;
}
.gnb .depth1 > li > a:hover {
    /* background: #0060ff; */
    border-bottom: 5px solid #0060ff;
}


.gnb .depth2 {
    /* display: none; */
}


