@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    line-height: 1.5;
    color: #222328;
}

.wrap {
    width: 1200px;
    margin: 0 auto;
}
.header {
    display: flex;
    justify-content: space-between;
    height: 100px;
}
.logo {
    display: flex;
    align-items: center;
}
.logo a {
    display: block;
    width: 200px;
    height: 40px;
}

.gnb .depth1 {
    display: flex;
}
.gnb .depth1 > li > a {
    display: block;
    height: 100px;
    padding: 0 50px;
    line-height: 100px;
    /* background: lawngreen;
    border: 1px solid #000; */
    text-align: center;
}
.gnb .depth1 > li > a:hover {
    /* background: #0060ff; */
    border-bottom: 5px solid #0060ff;
}
.gnb .depth1:hover .depth2 {
    display: block;
}


/* nav depth2 */
.gnb .depth2 {
    display: none;
    padding: 20px 0;
    background: #fff;
}
.gnb .depth2 a {
    display: block;
    height: 40px;
    text-align: center;
    line-height: 40px;
}
.gnb .depth2 a:hover {
    border-bottom: 3px solid #0060ff;
}

/* slide */
.slide {
    overflow: hidden;
    height: 300px;
}
.slide a, .slide img {
    display: block;
}

/* contents */
.contents {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}
/* tab */
.tabs-wrap {
    position: relative;
    display: flex;
    width: calc(100% / 2 - 230px);
}
.tabs-wrap .tab-item {
    width: 50%;
}
/* 비활성화 tab */
.tabs-wrap .tab-item .tit {
    height: 50px;
    padding-top: 15px;
    border-bottom: 2px solid #333;
    background: #ddd;
    text-align: center;
    font-size: 16px;
    box-sizing: border-box;
    
}
/* 활성화 tab */
.tabs-wrap .on .tit {
    background: #333;
    color: #fff;
}
.tabs-wrap .tab-item .cont {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    height: 130px;
}
.tabs-wrap .on .cont {
    display: block;
}
.lst-bbs {
    padding-top: 13px;
}
.lst-bbs li {
    display: flex;
    align-items: center;
}
.lst-bbs li::before {
    content: "";
    display: inline-block;
    width: 5px;
    height: 5px;
    margin-top: -4px;
    margin-right: 10px;
    background: red;
}
.lst-bbs li a {
    display: block;
    line-height: 2;
}
.lst-bbs li a:hover {
    text-decoration: underline;
}

/* 갤러리 */
.lst-gallery {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
}
.lst-gallery li {
    width: 100px;
}
.lst-gallery li p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


.bnr {
    width: 400px;
}
.bnr a, .bnr img {
    display: block;
}
.goto {
    width: calc(100% / 2 - 230px);
}
.goto ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    height: 180px;
}
.goto li {
    width: calc(50% - 5px);
    height: calc(50% - 5px);
    background: blue;
}
.goto a {
    display: block;
    height: 100%;
    background: red;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    border-top: 1px solid #d7d7d7;
}
.logo-foot a {
    display: flex;
    align-items: center;
    height: 100px;
}
.lst-sns {
    display: flex;
}
.lst-sns li {
    margin-left: 20px;
}
.lst-sns a {
    display: block;
    height: 100px;
    line-height: 100px;
}