@charset "utf-8";

/* 새글 스킨 (latest) */
.lat {
    position: relative;
    margin-bottom: 20px;
    background: #fff;
}
.lat .lat_title {
    display: block;
    line-height: 45px;
    font-size: 1.2em;
    color: #253dbe;
}
.lat .lat_title a {
    position: relative;
    color: #000;
    display: inline-block;
}

.lat ul {
    border-top: 1px solid #000;
    padding: 10px 0;
}
.lat li {
    position: relative;
    padding: 20px 1%;
    line-height: 18px;
    border-bottom: 1px solid #e5ecee;
    margin-bottom: 10px;
}
.lat li a {
    line-height: 24px;
    font-size: 1.2em;
    line-height: 20px;
    vertical-align: middle;
}
.lat li a:hover {
    color: #3a8afd;
}
.lat li .fa-heart {
    color: #ff0000;
}
.lat li .fa-lock {
    display: inline-block;
    line-height: 14px;
    width: 16px;
    margin-right: 5px;
    font-size: 0.833em;
    color: #666;
    background: #eee;
    text-align: center;
    border-radius: 2px;
    font-size: 12px;
    vertical-align: middle;
}
.lat li .new_icon {
    display: inline-block;
    width: 16px;
    line-height: 16px;
    font-size: 0.833em;
    color: #23db79;
    background: #b9ffda;
    text-align: center;
    border-radius: 2px;
    margin-left: 2px;
    font-weight: bold;
    vertical-align: middle;
}
.lat li .hot_icon {
    display: inline-block;
    width: 16px;
    line-height: 16px;
    font-size: 0.833em;
    color: #ff0000;
    background: #ffb9b9;
    text-align: center;
    border-radius: 2px;
    vertical-align: middle;
}
.lat li .fa-caret-right {
    color: #bbb;
}
.lat li .fa-download {
    display: inline-block;
    width: 16px;
    line-height: 16px;
    font-size: 0.833em;
    color: #daae37;
    background: #ffefb9;
    text-align: center;
    border-radius: 2px;
    vertical-align: middle;
}
.lat li .fa-link {
    display: inline-block;
    width: 16px;
    line-height: 16px;
    font-size: 0.833em;
    color: #b451fd;
    background: #edd3fd;
    text-align: center;
    border-radius: 2px;
    vertical-align: middle;
}

.lat .profile_img img {
    border-radius: 50%;
}

.lt_info {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    right: 1%;
    width: 15%;
    padding: 10px 0;
}
.lt_info .lt_nick {
}
.lt_info .lt_date {
    color: #888;
}

.lat .empty_li {
    line-height: 145px;
    color: #666;
    text-align: center;
    padding: 0;
}
.lat .empty_li:before {
    background: none;
    padding: 0;
}

.lat .lt_cmt {
    background: #e9eff5;
    color: #3a8afd;
    font-size: 11px;
    height: 16px;
    line-height: 16px;
    padding: 0 5px;
    border-radius: 3px;
    vertical-align: middle;
}
.lat .lt_more {
    position: absolute;
    top: 11px;
    right: 0;
    display: block;
    width: 40px;
    line-height: 25px;
    color: #dc3545;
    border-radius: 3px;
    text-align: center;
}
.lat .lt_more:hover {
    color: #777;
}

@media screen and (max-width: 768px) {
    .lat li {
        margin-bottom: 0;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .lat li a {
        font-size: 1em;
    }
    .lt_info {
        right: 1%;
        width: auto;
    }
    .lt_info .lt_nick {
        display: none;
    }
}
